body{
    background: rgb(1, 102, 196);
}
.logokalomai{
    position: fixed;
    width: 100%;
    height: 300px;
    animation: AnimationLogokalomai 3.5s linear;
    transition: all .3s ease;
    z-index: 500;
  }
  @keyframes AnimationLogokalomai {
    0%{
      width: 100%;
      height: calc(100vh - 70px);
    }
    81%{
      height: calc(100vh - 70px);
    }
    /* 95%{
      transition: all .3s ease;
      width: 100%;
      height: 100px;
    } */
    100%{
      transition: all .3s ease;
      width: 100%;
      height: 300px;
    }
  }
  .k{
    stroke:#fff;
    stroke-dasharray: 1500;
    stroke-dashoffset: 0;
    animation-iteration-count: 1;
    animation: AnimationK 2.5s linear;
    transition: all .3s ease;
    animation-direction: alternate;
  }
  @keyframes AnimationK {
    0%{
      opacity: 1;
      stroke-dashoffset: 1500;
      fill: transparent;
    }
    50%{
      transition: all .3s ease-in;
      fill: transparent;
    }
    51%{
      stroke-dashoffset: 0;
    }
    80%{
      opacity: 1;
      transition: all .3s ease-in;
    }
    81%{ 
      transition: all .3s ease;
      opacity: 0;
      fill: transparent;
     
    }
    100%{
      transition: all .3s ease;
      opacity: 1;
      fill: url(#SVGID_11_);
    }
  }
  .alomai{
    stroke:#fff;
    stroke-dasharray: 4100;
    stroke-dashoffset: 0;
    animation-iteration-count: 1;
    animation: AnimationALOMAI 2.5s linear;
    transition: all .3s ease;
    animation-direction: alternate;
  }
  @keyframes AnimationALOMAI {
    0%{
      opacity: 1;
      stroke-dashoffset: 4100;
      fill: transparent;
    }
    50%{
      transition: all .3s ease-in;
      fill: transparent;
    }
    80%{
      opacity: 1;
      transition: all .3s ease-in;
      stroke-dashoffset: 0;
    }
    81%{ 
      transition: all .3s ease;
      opacity: 0;
      fill: transparent;
     
    }
    100%{
      transition: all .3s ease;
      opacity: 1;
      fill: url(#SVGID_11_);
    }
  }
  .i{
    stroke:#fff;
    stroke-dasharray: 170;
    stroke-dashoffset: 0;
    animation-iteration-count: 1;
    animation: AnimationI 2.5s linear;
    transition: all .3s ease;
    animation-direction: alternate;
  }
  @keyframes AnimationI {
    0%{
      opacity: 1;
      stroke-dashoffset: 170;
      fill: transparent;
    }
    10%{
      opacity: 1;
      transition: all .3s ease-in;
      stroke-dashoffset: 0;
    }
    80%{ 
     opacity: 1;
     
    }
    81%{ 
      transition: all .3s ease;
      opacity: 0;
      fill: transparent;
     
    }
    100%{
      transition: all .3s ease;
      opacity: 1;
      fill:url(#SVGID_11_);
    }
  }
  .park{
    stroke: #fff;
    animation-iteration-count: 1;
    animation: AnimationPARK 3s linear;
    transition: all .3s ease;
    animation-direction: alternate;
  }
  @keyframes AnimationPARK {
    0%{
      opacity: 0;
      transform: translateY(20px) 
    }
    81%{
      opacity: 0;
      transition: all .3s ease;
     
    }
    100%{
      opacity: 1;
      transform:  translateY(0px)
    }
  }
  .ola{
    animation-iteration-count: 1;
    animation: AnimationOLA 3s linear;
    transition: all .3s ease;
    animation-direction: alternate;
  }
  @keyframes AnimationOLA {
    0%{
      opacity: 0;
      transform: translateY(20px) 
    }
    81%{ 
      opacity: 0;
      transition: all .3s ease;
     
    }
    100%{
      opacity: 1;
      transform:  translateY(0px)
    }
  }